@use "partial/variable" as v;
@use "partial/block";

*,*::before,*::after {
    box-sizing: border-box;
}

body {
    background-color: v.$black;
    font-family: 'Zen Kurenaido', sans-serif;
}

.header {

    margin-bottom: 100px;
    padding-top: 150px;

    @include v.phone {
        margin-bottom: 50px;
    }

    &__container {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }


    &__img {
        width:33.33333%;
        height: 600px;
        object-fit: cover;
        flex-shrink: 0;
        display: block;

        @include v.phone {
            width: 100%;
        }
    }
}


.site-title {
    font-size: 100px;
    letter-spacing: 3px;
    line-height: 1.25;
    text-align: center;
    font-weight: normal;
    margin-bottom: 100px;
    color: v.$white;

    @media screen and (max-width:520px) {
        margin-bottom: 50px;
        font-size: 70px;
        letter-spacing: 1.44px;
    }

    @include v.phone {
        font-size: 40px;
    }
}

.information {
    color: v.$white;
    text-align: center;
    margin-bottom: 140px;

    @include v.phone {
        margin-bottom: 80px;
    }

    &__week {
        font-size: 24px;
        font-weight: normal;

        @include v.phone {
            font-size: 16px;
        }
    }

    &__time {
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: normal;

        @include v.phone {
            font-size: 16px;
        }
    }

    &__heading {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;

        @include v.phone {
            font-size: 32px;
        }
    }

    &__summary {
        font-size: 18px;
        line-height: 1.3;

        @include v.phone {
            font-size: 16px;
            line-height: 1.5;
        }
    }
}

.gallery {

    margin-bottom: 480px;
    @include v.phone {
        margin-bottom: 280px;
    }

    &__container {
        width: 740px;
        margin: 0 auto;
        text-align: center;

        @include v.tablet {
            width: 400px;
        }

        @include v.phone {
            width: 100%;
        }
    }

    &__img-wrapper1 {
       width: 355px; 
       height: 488px;
       margin-right: auto; 
       margin-bottom: 15px;
       opacity: 0;
       transition: 1s;
       transform: translateY(150px);

       @include v.phone {
           width: 100%;
           height: 433px;
           margin-right: 0;
           margin-bottom: 30px;
       }
    }

    &__img-wrapper2 {
        width: 355px;
        height: 235px;
        margin-left: auto;
        margin-bottom: 15px;
        opacity: 0;
       transition: 1s;
       transform: translateY(150px);

       @include v.phone {
        width: 100%;
        height: 209px;
        margin-left: 0;
        margin-bottom: 30px;
    }
    }

    &__img-wrapper3 {
        width: 355px;
        height: 355px;
        margin-right: auto;
        margin-bottom: 15px;
        opacity: 0;
       transition: 1s;
       transform: translateY(150px);

       @include v.phone {
        width: 100%;
        height: 315px;
        margin-right: 0;
        margin-bottom: 30px;
    }
    }

    &__img-wrapper4 {
        width: 355px;
        height: 533px;
        margin-left: auto;
        margin-bottom: 15px;
        opacity: 0;
       transition: 1s;
       transform: translateY(150px);

       @include v.phone {
        width: 100%;
        height: 473px;
        margin-left: 0;
        margin-bottom: 30px;
    }
    }

    &__img-wrapper5 {
        width: 355px;
        height: 444px;
        margin-right: auto;
        margin-bottom: 15px;
        opacity: 0;
       transition: 1s;
       transform: translateY(150px);

       @include v.phone {
        width: 100%;
        height: 394px;
        margin-right: 0;
        margin-bottom: 30px;
    }
    }

    &__img-wrapper6 {
        width: 355px; 
        height:235px ;
        margin-left: auto;
        opacity: 0;
       transition: 1s;
       transform: translateY(150px);

       @include v.phone {
        width: 100%;
        height: 209px;
        margin-left: 0;
    }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.background-img {
    transition: 1s;
    width: 100vw;
    height: 1327px;
    background-image: url(../img/download.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;

    @include v.phone {
        height: 915px;
    }
}

//javascriptのためのクラス
.block {
    opacity: 1;
}

.block-transform {
    opacity: 1;
    transform: none;
}

.access {
    text-align: center;
    color: v.$white;
    margin-bottom: 480px;
    position: relative;
    z-index: 15;

    @include v.phone {
        margin-bottom: 280px;
    }
    

    &__heading {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__address {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.45;
        margin-bottom: 20px;
    }

    &__tel {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.45;
        margin-bottom: 30px;
    }

    &__button {
        width: 172px;
        height: 51px;
        margin: 0 auto;

        @include v.phone {
            width: 270px;
            height: 51px;
        }
    }
}

.contact {
    color: v.$white;
    text-align: center;
    margin-bottom: 230px;

    @include v.phone {
        margin-bottom: 200px;
    }

    &__button {
        width: 400px;
        height: 81px;
        margin: 0 auto;
        text-align: center;

        @include v.phone {
            width: 95%;
        }

        &_margin-bottom {
            margin-bottom: 30px;

            @include v.phone {
                margin-bottom: 20px;
            }
        }
    }
}

.footer {
    color: white;
    border-top: 1px solid v.$white;

    @include v.phone {
        font-size: 12px;
    }

    &__wrapper {
        display: flex;
        padding-left:30px ;
        padding-right:16px;
        padding-top: 80px;
        justify-content: space-between;
        padding-bottom: 80px;

        @include v.phone {
            display: block;
        }
    }

    &__left {
        @include v.phone {
            text-align: left;
        }
    }

    &__sentence {
        line-height: 1.6;
    }

    &__link-wrapper {
        margin-top:30px ;
        display: flex;

        @include v.phone {
            margin-bottom: 30px;
        }
    }

    &__link-unit {

        &_margin-right {
            margin-right: 15px;
        }
    }

    &__right-wrapper {
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    &__right-unit {

        &_margin-right {
            margin-right:16px ;
        }
    }
}